/* This function computes n/5. */

function int div(int nominator, int divisor) {
  if (divisor == 0){
    2 * 2; // fail gracefully
  } else {
    1 * 1;
  }

  while(x){
    5;
  }

  // Extract sign of result.
  var int sign;
  sign = 1;
 
  
}
